body {
    background-color: rgb(238, 238, 238);
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    color: rgb(28, 28, 28);
  }

  h3 {
    font-family: 'Lora', serif;
    font-size: 60px;
    color: rgb(28, 28, 28);
  }
  
  p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: rgb(28, 28, 28);
  }